/* ---------------------------------------------------
Mixin Typography
--------------------------------------------------- */

// Calculate rem from px
@function rem($pixels) {
	@return #{$pixels/16}rem;
}


@mixin font-light() {
	font-family: $font-roboto;
	font-weight: 300;
	text-transform: none;
}

@mixin font-normal() {
	font-family: $font-roboto;
	font-weight: normal;
	text-transform: none;
}

%font-normal {
	@include font-normal();
}

@mixin font-heavy() {
	font-family: $font-roboto;
	font-weight: bold;
	text-transform: none;
}

%font-heavy {
	@include font-heavy();
}

@mixin font-headline() {
	@include font-heavy();

	font-size: rem($fontsize-headline);
	line-height: rem($lineheight-headline);
}

@mixin font-caseheadline() {
	font-family: $font-butler;
	font-weight: 900;

	font-size: rem($fontsize-caseheadline);
	line-height: rem($lineheight-caseheadline);
}

@mixin font-paragraph() {
	@include font-normal();

	font-size: rem($fontsize-paragraph);
	line-height: rem($lineheight-paragraph);
}

@mixin font-paragraph-bold() {
	@include font-heavy();

	font-size: rem($fontsize-paragraph);
	line-height: rem($lineheight-paragraph);
}

@mixin font-navi {
	@include font-heavy();

	font-size: rem($fontsize-meta);
	line-height: rem($line-height-meta);
}

@mixin font-pagination {
	@include font-light();

	font-size: rem($fontsize-meta);
	line-height: rem($line-height-meta);
}

@mixin font-link {
	@include font-heavy();

	font-size: rem($fontsize-link);
	line-height: rem($lineheight-link);
}

@mixin font-keywords {
	@include font-light();

	font-size: rem($fontsize-keywords);
	line-height: rem($lineheight-keywords);
}

@mixin font-content-h {
	@include font-heavy();

	font-size: rem($fontsize-content-h);
	line-height: rem($lineheight-content-h);
}
