/* ===================================================
component: scroll-container
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-scroll-container"] {
	display: none;

	&.is-active {
		display: block;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-scroll-container--default {
}
