/* ===================================================
component: case-magine-b
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-case-magine-b"] {
	.is-image {
		margin-top: 60px;
	}

	.case-magine-b {
		&__headline {
			@include case-headline($black, $white, $case-magine-b-grey, $case-magine-b);
		}

		&__subline {
			@include case-subline($black, $case-magine-b-lightgrey);
		}

		&__paragraph {
			@include font-paragraph();

			color: $black;
			margin-top: 35px;
			position: relative;
		}

		&__pages {
			.case-magine-b__subline,
			.case-magine-b__paragraph {
				lost-column: 5/6;
			}

			.case-magine-b__pages-image1 {
				lost-column: 5/6;
				lost-offset: 1/6;
				margin-top: 112px;
			}

			.case-magine-b__pages-image2,
			.case-magine-b__pages-image3 {
				lost-column: 5/6;
				margin-top: 60px;
			}

			.case-magine-b__pages-image4 {
				position: relative;
				margin-top: -300px;
				margin-left: -100px;

				@include media('>=1200px') {
					margin-left: -150px;
				}

			}

			.case-magine-b__paragraph.is-arrow {
				position: relative;
				margin-top: 0;

				&::before {
					@extend %pseudo;
					@extend %icon-arrow_blue;

					top: 0;
					left: -120px;
					width: 106px;
					height: 45px;
				}
			}
		}

		&__modules-image,
		&__signup-image,
		.is-image {
			margin-top: 60px;
		}

		&__marketing {
			.case-magine-b__marketing-image2 {
				margin-top: -250px;
			}
		}

		&__marketing2 {
			@extend %icon-background_grey_02;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-case-magine-b--default {
}
