%icon-arrow-white { background-image: url('../img/png-icons/arrow-white.png'); background-repeat: no-repeat; }

%icon-arrow_blue { background-image: url('../img/png-icons/arrow_blue.png'); background-repeat: no-repeat; }

%icon-background-start-color { background-image: url('../img/png-icons/background-start-color.png'); background-repeat: no-repeat; }

%icon-background_case-aperto { background-image: url('../img/png-icons/background_case-aperto.png'); background-repeat: no-repeat; }

%icon-background_case-magine-a { background-image: url('../img/png-icons/background_case-magine-a.png'); background-repeat: no-repeat; }

%icon-background_case-magine-b { background-image: url('../img/png-icons/background_case-magine-b.png'); background-repeat: no-repeat; }

%icon-background_case-siemens { background-image: url('../img/png-icons/background_case-siemens.png'); background-repeat: no-repeat; }

%icon-background_form { background-image: url('../img/png-icons/background_form.png'); background-repeat: no-repeat; }

%icon-background_form_02 { background-image: url('../img/png-icons/background_form_02.png'); background-repeat: no-repeat; }

%icon-background_start { background-image: url('../img/png-icons/background_start.png'); background-repeat: no-repeat; }

%icon-case-magine-a_bg-top { background-image: url('../img/png-icons/case-magine-a_bg-top.png'); background-repeat: no-repeat; }

%icon-color_red { background-image: url('../img/png-icons/color_red.png'); background-repeat: no-repeat; }

%icon-icon-invision { background-image: url('../img/png-icons/icon-invision.png'); background-repeat: no-repeat; }

%icon-icon-sketch { background-image: url('../img/png-icons/icon-sketch.png'); background-repeat: no-repeat; }

%icon-icon-zeplin { background-image: url('../img/png-icons/icon-zeplin.png'); background-repeat: no-repeat; }

%icon-illustrator { background-image: url('../img/png-icons/illustrator.png'); background-repeat: no-repeat; }

%icon-indesign { background-image: url('../img/png-icons/indesign.png'); background-repeat: no-repeat; }

%icon-invision { background-image: url('../img/png-icons/invision.png'); background-repeat: no-repeat; }

%icon-logo-color { background-image: url('../img/png-icons/logo-color.png'); background-repeat: no-repeat; }

%icon-logo-white { background-image: url('../img/png-icons/logo-white.png'); background-repeat: no-repeat; }

%icon-photoshop { background-image: url('../img/png-icons/photoshop.png'); background-repeat: no-repeat; }

%icon-sketch { background-image: url('../img/png-icons/sketch.png'); background-repeat: no-repeat; }

%icon-zeplin { background-image: url('../img/png-icons/zeplin.png'); background-repeat: no-repeat; }

