%icon-C4D-Logo { background-image: url('../img/png-icons/C4D-Logo.png'); background-repeat: no-repeat; }

%icon-HOMEPAGE { background-image: url('../img/png-icons/HOMEPAGE.png'); background-repeat: no-repeat; }

%icon-arrow-white { background-image: url('../img/png-icons/arrow-white.png'); background-repeat: no-repeat; }

%icon-arrow_blue { background-image: url('../img/png-icons/arrow_blue.png'); background-repeat: no-repeat; }

%icon-arrow_white { background-image: url('../img/png-icons/arrow_white.png'); background-repeat: no-repeat; }

%icon-background-start-color { background-image: url('../img/png-icons/background-start-color.png'); background-repeat: no-repeat; }

%icon-background_case-aperto { background-image: url('../img/png-icons/background_case-aperto.png'); background-repeat: no-repeat; }

%icon-background_case-magine-a { background-image: url('../img/png-icons/background_case-magine-a.png'); background-repeat: no-repeat; }

%icon-background_case-magine-b { background-image: url('../img/png-icons/background_case-magine-b.png'); background-repeat: no-repeat; }

%icon-background_case-siemens { background-image: url('../img/png-icons/background_case-siemens.png'); background-repeat: no-repeat; }

%icon-background_form { background-image: url('../img/png-icons/background_form.png'); background-repeat: no-repeat; }

%icon-background_form_02 { background-image: url('../img/png-icons/background_form_02.png'); background-repeat: no-repeat; }

%icon-background_green-aperto { background-image: url('../img/png-icons/background_green-aperto.png'); background-repeat: no-repeat; }

%icon-background_green { background-image: url('../img/png-icons/background_green.png'); background-repeat: no-repeat; }

%icon-background_grey_02 { background-image: url('../img/png-icons/background_grey_02.png'); background-repeat: no-repeat; }

%icon-background_start { background-image: url('../img/png-icons/background_start.png'); background-repeat: no-repeat; }

%icon-black { background-image: url('../img/png-icons/black.png'); background-repeat: no-repeat; }

%icon-case-magine-a_bg-top { background-image: url('../img/png-icons/case-magine-a_bg-top.png'); background-repeat: no-repeat; }

%icon-color_blue { background-image: url('../img/png-icons/color_blue.png'); background-repeat: no-repeat; }

%icon-color_green { background-image: url('../img/png-icons/color_green.png'); background-repeat: no-repeat; }

%icon-color_green2 { background-image: url('../img/png-icons/color_green2.png'); background-repeat: no-repeat; }

%icon-color_purple { background-image: url('../img/png-icons/color_purple.png'); background-repeat: no-repeat; }

%icon-color_red { background-image: url('../img/png-icons/color_red.png'); background-repeat: no-repeat; }

%icon-color_yellow { background-image: url('../img/png-icons/color_yellow.png'); background-repeat: no-repeat; }

%icon-cv { background-image: url('../img/png-icons/cv.png'); background-repeat: no-repeat; }

%icon-dribbble { background-image: url('../img/png-icons/dribbble.png'); background-repeat: no-repeat; }

%icon-fireworks_icon { background-image: url('../img/png-icons/fireworks_icon.png'); background-repeat: no-repeat; }

%icon-green { background-image: url('../img/png-icons/green.png'); background-repeat: no-repeat; }

%icon-grey { background-image: url('../img/png-icons/grey.png'); background-repeat: no-repeat; }

%icon-icon-invision { background-image: url('../img/png-icons/icon-invision.png'); background-repeat: no-repeat; }

%icon-icon-sketch { background-image: url('../img/png-icons/icon-sketch.png'); background-repeat: no-repeat; }

%icon-icon-zeplin { background-image: url('../img/png-icons/icon-zeplin.png'); background-repeat: no-repeat; }

%icon-illustrator { background-image: url('../img/png-icons/illustrator.png'); background-repeat: no-repeat; }

%icon-indesign { background-image: url('../img/png-icons/indesign.png'); background-repeat: no-repeat; }

%icon-invision { background-image: url('../img/png-icons/invision.png'); background-repeat: no-repeat; }

%icon-linkedin { background-image: url('../img/png-icons/linkedin.png'); background-repeat: no-repeat; }

%icon-logo-color { background-image: url('../img/png-icons/logo-color.png'); background-repeat: no-repeat; }

%icon-logo-white { background-image: url('../img/png-icons/logo-white.png'); background-repeat: no-repeat; }

%icon-photoshop { background-image: url('../img/png-icons/photoshop.png'); background-repeat: no-repeat; }

%icon-sketch { background-image: url('../img/png-icons/sketch.png'); background-repeat: no-repeat; }

%icon-xing { background-image: url('../img/png-icons/xing.png'); background-repeat: no-repeat; }

%icon-zeplin { background-image: url('../img/png-icons/zeplin.png'); background-repeat: no-repeat; }

