%icon-background-start-color { background-image: url('../img/png-icons/background-start-color.png'); background-repeat: no-repeat; }

%icon-background_start { background-image: url('../img/png-icons/background_start.png'); background-repeat: no-repeat; }

%icon-logo-color { background-image: url('../img/png-icons/logo-color.png'); background-repeat: no-repeat; }

%icon-logo-white { background-image: url('../img/png-icons/logo-white.png'); background-repeat: no-repeat; }

