/* ===================================================
component: navigation
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-navigation"] {
	position: absolute;
	top: $frame-spacing + 10px;
	right: $frame-spacing;

	.navigation {
		&__list {
			display: flex;
			flex-direction: row;
		}

		&__list-item {
			position: relative;
			margin-right: 60px;
			padding-bottom: 14px;

			&:last-of-type {
				margin-right: 0;
			}

			&::after {
				@extend %pseudo;

				bottom: 0;
				left: 0;
				width: 0;
				height: 4px;
				background: $grey;
				opacity: 0;
				transition: opacity .4s $transition-timing-cubic, width .4s $transition-timing-cubic;
				transition-delay: .1s;
			}

			&.is-active {
				&::after {
					transition-delay: .5s;
					opacity: 1;
					width: 100%;

				}
			}

			&.is-home {
				&::after {
					background: linear-gradient(136.02deg, #0F83DB 0%, #42E695 100%);
				}
			}
		}

		&__list-link {
			@include font-navi();

			color: $white;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-navigation--default {
}
