/* ===================================================
component: navigation
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-navigation"] {
	position: absolute;
	top: $frame-spacing + 10px;
	right: $frame-spacing;

	.navigation {
		&__list {
			display: flex;
			flex-direction: row;
		}

		&__list-item {
			position: relative;
			margin-right: 60px;
			padding-bottom: 14px;

			&:last-of-type {
				margin-right: 0;
			}

			&::after {
				@extend %pseudo;

				opacity: 0;
				transition: opacity $transition-duration-default $transition-timing-default;
			}

			&.is-active {
				&::after {
					opacity: 1;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 4px;
					background: $grey;
				}
			}

			&.is-home {
				&::after {
					background: linear-gradient(136.02deg, #0F83DB 0%, #42E695 100%);
				}
			}
		}

		&__list-link {
			@include font-navi();

			color: $white;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-navigation--default {
}
