

<div class="c-case-magine-b{{#if settings.caseMagineBContextClass}}--{{settings.caseMagineBContextClass}}{{else}}--default{{/if}}{{#if settings.caseMagineBClasses}} {{settings.caseMagineBClasses}}{{/if}}"
     data-css="c-case-magine-b">
     case-magine-b
     
</div>
