

<div class="c-header{{#if settings.headerContextClass}}--{{settings.headerContextClass}}{{else}}--default{{/if}}{{#if settings.headerClasses}} {{settings.headerClasses}}{{/if}}"
     data-css="c-header">

	<div class="header__content">
		{{> logo}}
		{{> navigation}}
	</div>
</div>
