/* ===================================================
component: logo
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-logo"] {
	position: absolute;
	top: $frame-spacing;
	left: $frame-spacing;
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-logo--default {
}
