/* ===================================================
component: pagination
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-pagination"] {
	position: absolute;
	top: 50%;
	right: $frame-spacing + 40px;
	transform: translateY(-50%);
	z-index: $z-index-pagination;
	opacity: 0;
	transition: opacity $transition-duration-default $transition-timing-default;
	transition-delay: .7s;

	&.is-active {
		opacity: 1;
	}

	.pagination {
		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__list-item {
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&__btn {
			@include font-pagination();

			background: none;
			border: none;
			border-radius: 0;
			color: $white;
			opacity: 0.8;
			cursor: pointer;
			transition: color 600ms $transition-timing-cubic, font-weight 600ms $transition-timing-cubic;
			transition-delay: .4s;

			&.is-active {
				font-weight: bold;
				color: $grey;
			}
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-pagination--default {
}
